.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 20%;
  padding-top: 20%;

  .button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
